@{
    ViewData["Title"] = "Home Page";
}



<div class="container mt-4" style="position: relative; top: 180px;">
    <h2>Türkçe Cümle Düzenleme Aracı</h2>
    @using (Html.BeginForm("GeminiChat", "Home", FormMethod.Post, new { id = "chatForm" }))
    {
        <div class="form-group">
            <label for="question">Soru</label>
            <input type="text" class="form-control" id="question" name="question" placeholder="Sorunuzu yazın..." />
        </div>

        <button type="submit" class="btn btn-primary mt-2">Gönder</button>

        <div class="form-group mt-4">
            <label for="answer">Cevap</label>
            <textarea class="form-control" id="answer" name="answer" rows="3" readonly>@ViewBag.Answer</textarea>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#chatForm').on('submit', function (e) {
                e.preventDefault();

                var question = $('#question').val();
                if(question == "")
                {
                    alert("Lütfen bir Türkçe cümle yazınız.");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GeminiChat", "Home")',
                        data: { question: question },
                        success: function (response) {
                            $('#answer').val(response);
                        }
                    });
                }
            });
        });
    </script>
}

